<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    Dashboard
  </mat-list-item>
  <div>
    <mat-list-item class="ui-element" routerLink="#" routerLinkActive="active">
      <div class="circle"></div>
      SubItem
    </mat-list-item>
    <mat-list-item class="ui-element" routerLink="#" routerLinkActive="active">
      <div class="circle"></div>
      SubItem
    </mat-list-item>
    <mat-list-item class="ui-element" routerLink="#" routerLinkActive="active">
      <div class="circle"></div>
      SubItem
    </mat-list-item>
  </div>
</mat-list>

<p class="sidebar-title">Item's title</p>

<mat-list>
  <a href="#" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>library_books</mat-icon>
      Item
    </mat-list-item>
  </a>
  <a href="#" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>question_answer</mat-icon>
      Item
    </mat-list-item>
  </a>
  <a href="#" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>help_outline</mat-icon>
      Item
    </mat-list-item>
  </a>
</mat-list>

<p class="sidebar-title">Projects</p>

<mat-list>
  <mat-list-item>
    <div class="project-circle project-circle_yellow"></div>
    Projects Item
  </mat-list-item>
  <mat-list-item>
    <div class="project-circle project-circle_blue"></div>
    Projects Item
  </mat-list-item>
  <mat-list-item>
    <div class="project-circle project-circle_pink"></div>
    Projects Item
  </mat-list-item>
</mat-list>
